version: "3.2"

services:

    sherlock_wrapper:

        image:
                {{ image }}
        network_mode: host
        volumes:
            - /opt/lasair/:/opt/lasair/
        command: [
             "/usr/bin/python3",
             "/wrapper_runner.py",
             "/usr/bin/python3",
             "/wrapper.py",
             "--config",
             "/opt/lasair/config.yaml",
             "--sherlock_settings",
             "/opt/lasair/sherlock_settings.yaml"
             ]

