DB_HOST         = '{{ db_host }}'
DB_USER_READ    = '{{ settings.master_db_username }}'
DB_PASS_READ    = '{{ settings.master_db_password }}'
DB_DATABASE     = 'ztf'
DB_PORT         = {{ db_port }}

AREA_MOCS           = '/mnt/cephfs/lasair/areas'
AREA_MAX_DEPTH      = 13
