DB_HOST         = '{{ db_host }}'
DB_USER_WRITE   = '{{ settings.master_db_username }}'
DB_PASS_WRITE   = '{{ settings.master_db_password }}'
DB_DATABASE     = 'ztf'
DB_PORT         = {{ db_port }}

TNS_URL          = 'https://www.wis-tns.org/system/files/tns_public_objects/'
TNS_API_KEY      = '{{ settings.tns_api_key }}'
TNS_WATCHLIST_ID = 141

WATCHLIST_MOCS      = '/mnt/cephfs/lasair/watchlists'
WATCHLIST_CHUNK     = 50000
WATCHLIST_MAX_DEPTH = 13
AREA_MOCS           = '/mnt/cephfs/lasair/areas'
AREA_MAX_DEPTH      = 13

SYSTEM_STATUS       = '/mnt/cephfs/lasair/system_status/status'
