DB_HOST         = '{{ settings.master_db_ip }}'
DB_USER_WRITE   = '{{ settings.master_db_username }}'
DB_PASS_WRITE   = '{{ settings.master_db_password }}'
DB_DATABASE     = 'ztf'

TNS_SEARCH_URL   = 'http://wis-tns.weizmann.ac.il/search'
TNS_SEARCH_URL   = 'https://www.wis-tns.org/search'
TNS_WATCHLIST_ID = 141
TNS_REPEAT_TIME  = 7200

WATCHLIST_MOCS      = '/mnt/cephfs/lasair/watchlists'
WATCHLIST_CHUNK     = 50000
WATCHLIST_MAX_DEPTH = 13
AREA_MOCS           = '/mnt/cephfs/lasair/areas'
AREA_MAX_DEPTH      = 13

SYSTEM_STATUS       = '/mnt/cephfs/lasair/system_status/status'
