# This file contains the CephFS export location

---
ceph:
{% for output in stack_create.stack.outputs %}
  {%- if output.description == "Export locations" %}
    exports: {{ output.output_value | regex_replace('^\[', '') | regex_replace('\]$', '')  }}
  {%- endif %}
{%- endfor %}


