#!/bin/bash
export APACHEPATH={{ ansible_env.HOME }}/mod_wsgi
export PORT=8080

$APACHEPATH/apachectl stop
sleep 1

cd {{ ansible_env.HOME }}/lasair-lsst-web/src/lasair-webapp/lasair

mod_wsgi-express setup-server \
--user {{ ansible_user_id }} \
--group {{ lookup('pipe', 'id -gn') }} \
--working-directory {{ ansible_env.HOME }}/lasair-lsst-web/src/lasair-webapp/lasair \
--python-path       {{ ansible_env.HOME }}/lasair-lsst-web/src/lasair-webapp/lasair \
--python-path       {{ ansible_env.HOME }}/lasair-lsst-web/src \
--url-alias /lasair/static static \
--url-alias /media media \
--application-type module lasair.wsgi \
--server-root $APACHEPATH \
--port $PORT \
--mount-point /

$APACHEPATH/apachectl start
