    {
      "gridPos": {
        "h": {{ h }},
        "w": {{ w }},
        "x": {{ x }},
        "y": {{ y }},
      },
      "type": "stat",
      "title": "{{ title }}",
      "datasource": {
        "type": "prometheus",
        "uid": "{{ datasource.json.uid }}"
      },
      "description": "{{ description }}",
      "hideTimeOverride": true,
      "maxDataPoints": 100,
      "links": [],
      "fieldConfig": {
        "defaults": {
          "mappings": [
            {
              "options": {
                "match": "null",
                "result": {
                  "text": "N/A"
                }
              },
              "type": "special"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#5794F2",
                "value": null
              },
              {
                "color": "rgba(237, 129, 40, 0.89)",
                "value": 100
              },
              {
                "color": "#d44a3a",
                "value": 200
              }
            ]
          },
          "color": {
            "mode": "thresholds"
          },
          "unit": "percent",
          "min": 0,
          "max": 100
        },
        "overrides": []
      },
      "options": {
        "reduceOptions": {
          "values": false,
          "calcs": [
            "lastNotNull"
          ],
          "fields": ""
        },
        "orientation": "horizontal",
        "textMode": "auto",
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ datasource.json.uid }}"
          },
          "expr": "avg(node_load1{instance=\"{{ host }}:9100\"}) /  count(node_cpu_seconds_total{instance=\"{{ host }}:9100\", mode=\"idle\"}) * 100",
          "refId": "A"
        }
      ]
    },
