version: "3.2"

services:

    mirrormaker:

        image:
            #atolmis/kafka
            gpfrancis/lasairmm:2.4.0
        network_mode: host
        volumes:
            - /etc/mirror/producer.config:/etc/mirror/producer.config
            - /etc/mirror/consumer.config:/etc/mirror/consumer.config
            - /opt/jmx_exporter:/opt/jmx_exporter
        environment:
            - "KAFKA_HEAP_OPTS=-Xmx1G"
            - "KAFKA_OPTS=-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar=0.0.0.0:8081:/opt/jmx_exporter/mirrormaker.yml"
        command: [
             "bin/kafka-mirror-maker.sh",
             "--num.streams",
             "{{ numstreams }}",
             "--consumer.config",
             "/etc/mirror/consumer.config",
             "--producer.config",
             "/etc/mirror/producer.config",
             "--whitelist",
             "{{ topiclist | join(',') }}"
             ]
